

.burger {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 4px;
	z-index: 10;
	appearance: none;
	background: transparent;
	border: 0;

	&__line {
		@include burger(30px, 3px, 6px, #333);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		margin-top: -1.5px;
		&--active {
			@include burger-to-cross;
			&:before,
			&:after {
				background-color: $white;
			}
		}
	}

	&:hover {
		cursor: pointer;
	}
}


// Nav

.nav {
	background-color: $black;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	height: 100%;
	max-width: 515px;
	width: 100%;
	padding: 100px 40px 60px 40px;
	overflow-y: auto;
	transform: translateX(100%);
	transition: transform .55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	&--visible {
		transform: translateX(0px);
		.menu__item--main {
			transform: translateX(0px);
			opacity: 1;
			@for $i from 1 to 10 { 
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.15s;
				}
			}
		}
		.nav__menu--sub,
		.nav__about,
		.nav__social {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: .85s;
		}
	}
	&__about {
		margin-top: 40px;
		transform: translateY(30px);
		opacity: 0;
		transition: all .4s ease;
		p {
			color: $white;
			font-family: $mono;
			font-size: 1.05rem;
			letter-spacing: 0.5px;
			line-height: 170%;
		}
	}
	&__social {
		margin-top: 40px;
		position: relative;
		padding-bottom: 30px;
		transform: translateY(30px);
		opacity: 0;
		transition: all .4s ease;
		&:after {
			content: '';
			width: 230px;
			height: 2px;
			background-color: $blue;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__link {
		&--social {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 25px;
			&:last-of-type {
				margin-right: 0px;
			}
			&:hover {
				svg path,
				svg circle {
					fill: $blue;
				}
			}
		}
	}
	&__icon {
		width: 100%;
		height: 100%;
		path,
		circle {
			fill: $white;
			transition: all 0.3s ease;
		}
	}
	@media (min-width: 667px) {
		padding: 120px 90px 70px 90px;
	}
}


// Menus

.menu {
	list-style-type: none;
	&--sub {
		margin-top: 40px;
		transform: translateY(30px);
		opacity: 0;
		transition: all .4s ease;
	}
	&__item {
		&--main {
			margin-bottom: 20px;
			transform: translateX(40px);
			opacity: 0;
			transition: all .3s ease;
		}
		&--sub {
			margin-bottom: 10px;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__link {
		color: $white;
		font-family: $sans;
		text-decoration: none;
		transition: all .3s ease;
		&--main {
			letter-spacing: 5px;
			font-weight: 600;
			padding: 10px 0;
			text-transform: uppercase;
			font-size: 1.5rem;
			display: block;
		}
		&--sub {
			letter-spacing: 1px;
			font-size: 0.9rem;
			&:hover {
				color: $blue;
			}
		}
		span {
			color: $blue;
		}
		&:hover,
		&:focus {
			color: lighten($blue, 20%);
		}
	}
}


// Overlay

